[submodule "centrifuge-subql"]
	path = centrifuge-subql
	url = git@github.com:embrio-tech/centrifuge-subql.git
	branch = main
[submodule "centrifuge-insights"]
	path = centrifuge-insights
	url = git@github.com:embrio-tech/centrifuge-insights.git
	branch = main
[submodule "centrifuge-influx"]
	path = centrifuge-influx
	url = git@github.com:embrio-tech/centrifuge-influx.git
	branch = main
[submodule "centrifuge-outflux"]
	path = centrifuge-outflux
	url = git@github.com:embrio-tech/centrifuge-outflux.git
